<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>메인</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<p>template 메인화면인가요</p>
<div sec:authorize="isAuthenticated()">
    <p>로그인한 사용자: <span th:text="${userDetails.username}"></span></p>
    <p>로그인한 이름: <span th:text="${userDetails.memNm}"></span></p>
    <p>로그인한 연락처: <span th:text="${userDetails.memCno}"></span></p>
    <p>권한: <span th:text="${userDetails.authorities}"></span></p>
    <!-- 추가적인 사용자 정보 출력 -->
    <form th:action="@{/logout}" method="post">
        <button type="submit">로그아웃</button>
    </form>
</div>

<div sec:authorize="!isAuthenticated()">
    <p>로그인이 필요합니다.</p>
    <a th:href="@{/login}">로그인</a>
</div>
</body>
</html>