<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>메인</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<p>😀 메인화면인가요 😀</p>
<div sec:authorize="isAuthenticated()">
    <p>로그인한 사용자: <span sec:authentication="principal.username"></span></p>
    <p>로그인한 이름: <span sec:authentication="principal.memNm"></span></p>
    <p>로그인한 연락처: <span sec:authentication="principal.memCno"></span></p>
    <p>권한: <span sec:authentication="principal.authorities"></span></p>
    <a th:href="@{/home}">마이홈</a>
    <form th:action="@{/logout}" method="post">
        <button type="submit">로그아웃</button>
    </form>
</div>

<div sec:authorize="!isAuthenticated()">
    <p>로그인이 필요합니다.</p>
    <a th:href="@{/login}">로그인</a>
    <a th:href="@{/home}">마이홈</a>
</div>
</body>
</html>