<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>홈</title>
</head>
<body>

<p>인증된 분만 오실 수 있는 마이홈이요😜</p>

<div>
    <form th:action="@{/home}" th:object="${testDTO}" method="get">
        <input type="text" th:field="*{testNm}">
        <input type="text" th:field="*{testSubDTO.extNm}">
<!--        <input type="text" th:name="mem_lgn_id" th:value="*{memLgnId}">-->
        <button type="submit" th:formaction="@{/home}" method="get">전송</button>
    </form>
</div>

<a th:href="@{/}">메인</a>
<form th:action="@{/logout}" method="post">
    <button type="submit">로그아웃</button>
</form>

</body>
</html>